body{
  text-align: center;
  font-family: helvetica;
}
h1{
  font-size: 80px;
  font-weight: bold;
  color: white;
}
div.home{
  background-image: url(../images/the-flatiron-building.png);
}
ul {
  list-style-type: none;
}

a{
  color: white;
  font-size: 18px;
}
