body{
  text-align: center;
  font-family: helvetica;
}
h1{
  font-size: 80px;
  font-weight: bold;
  color: white;
}
h2{
  color: black;
  font-size: 32px;
  font-weight: bold;
}
div.header{
  background-image: url(../images/the-flatiron-building.png);
  color: white;
}
h3{
  color: black;
  font-size: 23px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a{
  color: white;
  font-size: 18px;
}
p{
  color: black;
}
div.footer{
  background-color: dimgray;
  text-align: left;
}
p.copyright{
  color: white;
  font-size: 11px;
}
